body  {

}

a:focus { 
	outline:none; /*usuwanie niebieskiej obwódki w FF*/
}

#kontener {

}


#formularz {

}

#formularz div {

}

#formularz label {
	display: block;
}

#formularz textarea {

}

#formularz input[type=text] {

}

#blad {
	background: #ff0000;
	padding: 10px;
}

#blad p{

}

#sukces {

}

#sukces p{

}

.red {
	color: #ff0000;
}