body, html {
	margin:0px;
	width: 100%;
        
	height: 100%;
        min-height:100%;
        //max-height: 100%;
        font-family: 'Rajdhani', sans-serif;
        //background-color: white; 
        background-image: url(../images/texture.png);
	/* background-image: url(../images/siatka.png); */
        padding: 0;
        color: #333333;
}

#header{
    width: 100%;
    display: inline-block;
    //height: 10%;
    padding-top: 2%;
    //background-color: cornflowerblue;
    //background-image: url(../images/siatka.png);
}
    
    #logo{
        position: relative;
        //padding-top: 2%;
        margin-bottom: 0.5%;
        width: 8%;
        display: inline-block;
    }
    
    #underLogo{
        width: 92%;
        margin-top: 20px;
        margin-top: 4%;
        font-size: 35px;
        display: inline-block;
        letter-spacing: 10px;
        text-align: center;
        float: right;
        color: steelblue;
        opacity: 0.4;
    }

#container-a{
    position: relative;
    margin-left: 20%;
    width: 60%;
    min-height: 100%;
    max-height: 100%;
    height: auto;
}

.menu{
    position: relative;
    //margin-right: 0;
    //float: right;
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    width:100%; // zmieniÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ na 49% aby zmieÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºciÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ razem z napisem pod logo
}

    .menu ul{
        list-style-type: none;
        text-align: center;
    }
    
    .menu ul li, ul a{
        letter-spacing: 2px;
        font-size: 15px;
        color: black;
        text-decoration: none;
        display: inline-block;
        margin: 0% 4%;
        opacity: 0.6;
        text-decoration-line: none;
    }
    
    .menu ul li:hover{
        opacity: 1.0;      
    }
    
    .menu li:last-child{
        margin-right: 0%;
    }

    
.description-main-left{
    display: inline-block;
    //margin-top: 9%;
    text-align: left;
    width: 50%;
    /*border: 1px solid blue;*/
}

    .description-main-left h1{
        font-size: 40px;
        margin-top: 18%;
    }
    
    .description-main-left h2{
        font-size: 20px;
        margin-top: 10%;
        padding: 0;
    }
    
    .description-main-left p{
        letter-spacing: 1px;
        text-align:  justify;
        font-size: 18px;
        line-height: 28px;
        padding: 0;
        margin-bottom:0;
    }
    
    .description-main-left ul{
        list-style-type: square;
        list-style-position: inside;
        width: 50%;
        font-size: 18px;
    }
    
    .description-zalety ul{
        display: inline-block;
        text-align: left;
        list-style-type: square;
        list-style-position: inside;
        width: 50%;
        font-size: 18px;
    }
    
    .description-zalety h2{
        font-size: 20px;
        margin-top: 3%;
        padding: 0;
    }
    
    
.photo-main-right{
    display: inline-block;
    margin-top: 8%;
    height: 250px;
    width: 37%;
    overflow: hidden;
    opacity: 0.7;
    border: 1px solid steelblue;
    //margin-right: 0px;
    float: right;
    //border: 1px solid steelblue;
}
    
    
    #container-x{
        position: relative;
        width: 100%;
        max-height: 100%;
        //background-color: steelblue;
        background-image: url("../images/tlo.png");
        //padding-bottom: 5%;
        padding-top: 2%;
        margin:0;
    }
    
    #container-x span{
        
    }
    
    #container-b{
        display: inline-block;
        position: relative;
        width: 60%;
        margin-left: 20%;
        color: whitesmoke;
        //min-height: 100%;
        letter-spacing: 0.5px;
    }
        .opis_firmy{
            width: 50%;
            display: inline-block;
        }
        
        .opis_firmy h1{
            font-size: 30px;
        }
        
        .opis_firmy p{
            
        }
        
        .kontakt{
            display: inline-block;
            width: 50%;
            float: right;
            text-align: right;
        }
        
        .kontakt a{
            text-decoration: none;
            color: whitesmoke;
        }
        
        .kontakt h1{
            font-size: 30px;
        }
        
        .kontakt p{
            text-align: right;
        }
    
    #kontakt-triger{
        //display: inline-block;
        padding:0;
        margin:0;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom:0;
    }
        #kontakt-triger img{
            padding: 0;
            margin: 0;
        }
        
        
#container-produkty{
    position: relative;
    margin-left: 20%;
    width: 60%;
    min-height: 100%;
    height: auto;
}

    #container-produkty hr{
         border-top: 1px solid steelblue;
         border-bottom: 0;
    }

    #description-produkty{
        margin-top: 10%;
        width: 100%;
        color: #333333;
        text-align: left;
    }
    
    #description-produkty h1{
        font-size: 30px;
        
    }
    
    #description-produkty p{
/*        text-align: justify;*/
        width: 100%;
        font-size: 18px;
    }
    
    .produkt2{
        width: 100%;
        display: inline-block;
    }
    
    .produkt2 img{
        float: right;
        display: inline-block;
    }
    
    produkt2 p{
        width: 20%;
        font-size: 18px;
    }
    
    
    .produkt{
        width: 100%;
        margin-top: 5%;
        display: inline-block;
        //display: inline;
    }
    
    .produkt hr{
        border-top: 1px solid steelblue;
        border-bottom: 0;
    }
    
    .produkt h1{
        font-size: 30px;
        font-weight: bolder;
        width:60%;
        padding: 0;
        margin:0 0 5px 0;
    
        /* display:  inline-block; */
}
    
    .produkt p{
        //text-align: justify;
        //margin-top: 1%;
        display: inline-block;
        font-size: 18px;
        width: 70%;
    }
    
    .produkt img{
        width: 20%;
        text-align: right;
        margin-left: 5%;
        float: right;
    }
    
    .produkt ul{
        list-style-type: square;
        list-style-position: inside;
        width: 50%;
        //float: right;
        font-size: 18px;
        display: inline-block;
    }
    
    
        .left{
            //float: left;
            //text-align: left;
        }
        
        .left img{
            /*display: inline-block;*/
            /*float: right;*/
            /*margin-right: 5%;*/
            width: 20%;
            float: right;
        }
        
        .right{
            /*color: white;*/
            float: right;
            text-align: right;
/*          background-color: steelblue;
            background-image: url(../images/siatka.png);*/
            padding: 2%;
        }
        
        .right img{
            display: inline-block;
            float: left;
            width: 20%;
        }
        
        .right p{
            width: 70%;
            //float: right;
        }  
        
        
    .produktyPDF{
        width: 60px;
        height: 60px;
        position: fixed;
        top: 50%;
        float: right;
        background-color: steelblue;
        right: -10px;
        /*border: 1px solid whitesmoke;*/
        border-radius: 20px 0px;
        /*-webkit-box-shadow: 5px 5px 2px black;*/
        z-index: 100;
        cursor: pointer;
    }
    
        .produktyPDF span{
            position: absolute;
            margin-top: 5px;
        }

/*        .produktyPDF:hover{
            margin-left: -15px;
            transition-delay: 0s;
            transition: all 0.5s ease-in-out;
        }*/

#footer{
    position: relative;
    display: inline-block;
    background-image: url(../images/tlo.png);
    width: 100%;
    min-height: 10px;
    padding: 1% 0;
    //opacity: 0.9;
    z-index: 100;
    //float: bottom;
    bottom: 0;
    text-align: center;
}

    #footer p{
        padding:0;
        color: white;
        //float: left;
        margin: 0px 5% 2px 5%;
        display: inline-block;
    }
    
    #footer a{
        color: white;
        text-decoration: none;
    }
        
.formularz{
    //display: inline-block;
    width: 40%;
    //display: inline-block;
    float: right;
    text-align: right;
}

    .formularz p{
        margin-top: 0.5%;
    }
    
    .tlo{
        width: 100%;
        height: auto;
    }
    
   /* --- slideshow ---*/
   
   
    #slides {
      display: none;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    
    /* -- Slideshow END --*/
    
    
    /*@media all and (min-width:480px) and (max-width: 1280px){*/
    @media (max-width: 1500px){
        
        #container-produkty{
            width: 90%;
            margin-left: 5%;
        }
        
        #container-a{
            width: 90%;
            margin-left: 5%;
        }
        
        .description-main-left{
           // margin-top: 2%;
            width: 55%;
        }
        
        .description-main-left h1{
            margin-top: 12%;
        }
        
        .description-main-left h2{
            margin-top: 0%;
        }
        
        .photo-main-right{
            margin-top: 8%;
            width: 33%;
        }
 
        #container-b{
            width: 90%;
            margin-left: 5%;
        }
        
        .description-zalety{
            display: none;
        }
        
    }
    
    @media (min-height: 800px){
        .description-zalety{
            display: block;
        }
    }
    
    @media (max-width: 500px){
        
        body, html{
            height: auto;
        }
        
        #container-a{
            padding-bottom: 5%;
        }
        
        #header{
            text-align: center;
        }
        
        #header p{
            float: none;
        }
        
        .menu{
            margin-right: auto;
            text-align: center;
        }
        
        .menu ul{
        text-align: center;
        }
        
        .menu li:first-child{
        margin-left: 0%;
        }
        
        #kontakt-triger{
            display: none;
        }
        
        #container-x{
            height: 450px;
        }
        
        #container-b{
            height: fit-content;
        }
        
        .kontakt{
            display: block;
            width: 100%;
            text-align: center;
        }
        
        .kontakt p{
            text-align: center;
        }
        
        .kontakt h1{
            margin-top: 8%;
        }
        
        .opis_firmy{
            display: block;
            width: 100%;
            text-align: center;
        }
        
        .description-main-left{
            margin-top: 1%;
            width: 100%;
            display: block;
        }
        
        .photo-main-right{
            display: none;
        }
        
        .formularz{
            width: 100%;
            float: none;
            text-align: center;
        }

            .formularz p{
                margin-top: 0.5%;
            }
        
        .tlo{
            
        }
        
    }